// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

h1 {
    font-family: 'Do Hyeon', sans-serif!important;
    text-transform: uppercase!important;
}

.context-box {
  width: 100%;
  border-top: 1px solid #ABABAB;
}

.controls {
    float: left;
    width: 20%;
    font-size: 70%;
}

.control_lead {
  padding: 2em 0;
  border-bottom: 1px solid #ABABAB;
  width: 100%;
}

.controls h3 {
  float: left;
  padding: 2em 0 1em 0;
}
.items-box {
  float: right;
  width: 79%;
  border-left: 1px solid #ABABAB;
}

.item {
  float: left;
  width: 45%;
  margin: 2.5%;
  display: inline;
}

#global-header #logo {
    background: none!important;
    font-family: 'Do Hyeon', sans-serif!important;
    text-transform: uppercase!important;
}

.multiple-choice {
  margin-bottom: 1em;
}


@media (min-width: 641px) {
.column-two-thirds {
    float: left;
    width: 100%;
}
}

@media (min-width: 769px) {
#global-header.with-proposition .header-wrapper .header-proposition {
    width: 100%;
    float: left;
}
}