// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

p {
  font-size: .8em;
}

.banner-top {
  background-color: #f0f0f0;
  height: 50px;
  width: 100%;
  margin-bottom: 1em;
}

h1 {
    text-transform: uppercase!important;
    font-size: 1.5em!important;
    margin-bottom: 0!important;
    margin-top: 2em!important;
}

.heading-medium {
  margin-top: 1em!important;
  font-size: 20px!important;
}

.caps {
  text-transform: uppercase;
}


.center {
    text-align:center;
}

.image-box {
    float: left;
    width: 45%;
    margin-top: 3em;
}

.image-box img {
  max-width: 400px;
  margin-bottom: 1.5em;
}

.intro {
  margin: 2em 0;
}

.text-box {
   margin-top: 3em;
  float: right;
  width: 50%;
  border: 1px solid #ABABAB;
  padding: 20px;
}

.three .item {
  width: 28%;
}

.two .item {
  width: 45%;
}

.item {
  float: left;
  margin: 2.5%;
  display: inline-block;
  position: relative;
}

.item img {
  width: 100%;
  float: left;
}

.three .item-title {
     left: 20%;
     width: 150px;
    text-align: center;
}

.two .item-title {
     left: 28%;
     width: 200px;
    text-align: center;
}

.item-title {
    position: absolute;
    color: #fff;
    margin: 0 auto;
    top: 46%;
    font-size: .9em;
    background: #FD6567;
    padding: 10px;
    border-radius: 2px;
}

.item-title:hover {
  background: #3A3A3A;
}

.header-proposition {
  margin-left: 1em;
}

.header-global {
  margin-bottom: 1em;
}

.header-logo {
    width: 100%!important;
}

#global-header #logo {
    background: none!important;
    font-family: 'Do Hyeon', sans-serif!important;
    text-transform: uppercase!important;
    font-size: 3em;
    color: #3A3A3A;
}

#global-header .header-proposition #proposition-link a, #global-header .header-proposition #proposition-links a {
  color: #3A3A3A;
}

#global-header .header-wrapper {
  background: none;
}

#global-header {
  background: none;
}

strong {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    float: left;
    width: 100%;

}

.multiple-choice {
  margin-bottom: 1em;
}

#footer, #footer .footer-wrapper {
  background: #3A3A3A;
  color: #fff;
  border: 0;
  font-size: 1.1em;
}

#footer a {
  color: #fff!important;
  text-decoration: underline;
}


@media (max-width: 769px) {
  .text-box, .image-box {
    width: 90%;
    float:left;
    border: none;
    padding: 0;
  }

.image-box img {
  max-width: 100%;
}

#proposition-links {
  list-style: none;
  }

#global-header .header-proposition #proposition-links li {
  width: 50%;
  border: none;
  text-align: left;
  margin: 10px 0;
}

#global-header .header-proposition #proposition-links li a {
    font-size: 1em;
    padding: 10px;
}

.three .item, .two .item {
    width: 95%;
}

.three .item-title, .two .item-title {
  font-size:2em;
  width: 90%;
  left: 2.5%;
}

}


@media (min-width: 641px) {
.column-two-thirds {
    float: left;
    width: 100%;
}
}

@media (min-width: 769px) {
#global-header.with-proposition .header-wrapper .header-global {
    float: left;
    width: 100%;
}

#global-header.with-proposition .header-wrapper .header-proposition {
    width: 100%;
    float: left;
}
}