{% extends "layout.html" %}

{% block page_title %}
  Amy Everett, Digital Anthropology
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    

<div class="image-box">
<img src="/public/images/conclusion.png" alt="">
</div>

<div class="text-box">

<h2 class="heading-medium caps">Conclusion
        </h2>

      <p>There was a general feeling that Trouva’s selectivity over the items they sold was some sort of signal as to the quality of the items available. There were several mentions of the Trouva not being notonthehighstreet.com, that despite it being a similar platform there were levels of value associated with each.</p>

<p>Trouva ‘are building connections between retailers and customers beyond the transaction’</p>

 <p><i>“Physical shopping experience not about getting stuff done, it’s about being in the space.”</i></p>



</div>


    </div>
  </div>
</main>

{% endblock %}


