

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="{{ html_lang|default('en') }}"><![endif]-->
<!--[if gt IE 8]><!--><html lang="{{ html_lang|default('en') }}"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Digital Markets, Digital Anthropology, University College London</title>

    <!--[if gt IE 8]><!--><link href="/public/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/public/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/public/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/public/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/public/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/public/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/public/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/public/javascripts/ie.js?0.22.3"></script><![endif]-->
        <!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">


  
    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body class="">
   

    <div class="banner-top"></div>
    
    <header role="banner" id="global-header" >
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="#" id="logo" class="content">
              Digital Markets
            </a>
          </div>
 
        </div>
  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">
    
   <ul id="proposition-links">
          <li><a href="/">Home</a></li>
          <li><a href="introduction.html">Introduction</a></li>
          <li><a href="seller_one.html">Seller Interviews</a></li>
            <li><a href="ethnography.html">Digital Ethnography</a></li>
            <li><a href="customer_one.html">Customer Interview</a></li>
            <li><a href="conclusion.html">Conclusion</a></li>
        </ul>
        
      </nav>
    </div>
  </div>
      </div>
      
    </header>
    

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    

<div class="image-box">
<img src="/public/images/conclusion.png" alt="">
</div>

<div class="text-box">

<h2 class="heading-medium caps">Conclusion
        </h2>

<p>The research aimed to understand the appeal of online markets that maintain traditional offline structures, focusing on the use of Trouva by customers and sellers.</p>

<p>Semi-structured interviews helped me to understand the processes that surround selling and buying in physical and digital spaces, and how these processes differ based on the location or platform used. The research also looked into the interaction between sellers and customers facilitated by Trouva through social media and Trouva’s own website.</p>


<p>My research with sellers revealed a stark difference between the relationship sellers had with customers in their physical shop and their online Trouva shop. Sellers spoke warmly of the customers that visit their physical shop, knowing and recognising them well enough to identify them as repeat customers who live in vicinity to the shop.</p>

<p>The relationship between sellers and online customers was very much a different experience. One seller spoke of how he actively encouraged customers to interact with Trouva as opposed to him, and both sellers told me of the importance of Trouva as a ‘middle man’ in the process. Neither seller was able to recall repeat custom from online customer, or any overlap in custom from those who might shop through their Trouva shop and also in their physical shop.</p>

<p>The communication offered from Trouva’s customer support team to customers was identified by both sellers as one of the key benefits of using Trouva to sell products. For sellers, the appeal of Trouva was the ability to sell products in an online space whilst still supporting the existence of their physical space. </p>

<p>My customer interview revealed the extent of the disconnection between Trouva sellers and customers. The participant spoke of how she chose to use Trouva because she wanted to support local businesses but who the local businesses were was of little importance to her - it was the act of supporting them as a collective group that led to her behaviour, as opposed to having any vested interest in the specifics of this.</p>

<p>In this sense, she felt as though she was able to retain the physical spaces in which she told me she enjoyed spending time, whilst still having the convenience of using Trouva to have items delivered to her home whenever she needed them.  Despite this motivating her use of Trouva, she was clear to point out that she did not make use of other similar websites such as notonthehighstreet.com due to the difference in quality of their products when compared to Trouva. Without Trouva’s specific style of products it is unclear if the appeal of supporting independent businesses would still have any value to the participant. Further research would need to be done with other customers to understand if retaining physical stores was really a key motivator in the use of Trouva, or if the style and quality of the products was ultimately the aim for customers, with any associated ethics a consequential benefit.</p>

<p>Through my analysis of social media and Trouva’s website I was able to further evidence this interest from customers to support local businesses in a collective sense, through Trouva, with little interest in individual boutiques. Interaction with sellers was non-existent across all social media platforms and was not encouraged through the design of Trouva’s website. </p>

<p>As a company, Trouva appeared to use the suggestion of support local businesses to drive customers towards the purchasing of products as opposed to having any relationship between the sellers themselves. It is fair to say that the purchasing of items through the website does support local business, but Trouva’s claim on their Values page on their website that they <i>“are building connections between retailers and customers beyond the transaction”</i> cannot be evidenced through this research. </p>

<p>Trouva continues, on their Value page that:</p>
<p><i>“We are growing a community which connects independent boutiques with customers who love them. Being part of our community is a two-way relationship; the more you contribute the more you get back.”</i></p>

<p>Through the research I have done, I do not believe that Trouva is currently successful in growing a community or two-way relationship between customers and sellers. I believe that for customers, Trouva appeals to those looking to retain a sense physical community but that don’t wish to actively engage with it. Trouva’s existence plays on a nostalgic interest in retaining physical shops but does not actively encourage customers to engage with those spaces any more than any other platform, such as Amazon or eBay.  </p>

<p>Trouva facilitates an online space that sellers can make use of without contradicting or taking away value from their physical store. Trouva adds no value to the seller’s physical space but allows them to generate income from customers who they may have never physically interacted with, thus presenting their products to a brand new entirely-digital audience - an audience that has little to no interest in the physical location or history behind the physical space or sellers themselves. </p>

<p>Customers do not seek a relationship with sellers, nor do sellers seek a relationship with customers - both seek facilitation through Trouva and for both parties it is with Trouva that any relationship is formed. </p>

<p>This research could have been improved by further interviews conducted with sellers and customers. Such a small number of participants does not allow the research to claim any representative validity. I would state that this research has raised interesting points surrounding the relationship facilitated by Trouva and highlighted the high level motivations behind the use of physical and online stores by sellers and customers.  </p> 



</div>


    </div>
  </div>
</main>

<footer class="group js-footer" id="footer" role="contentinfo">
  <div class="banner-top"></div>
      <div class="footer-wrapper">
  <p>Designed and built by <a href="mailto:a.everett@ucl.ac.uk">Amy Everett</a> for London Markets project, University College London 2017-18.</p>
  <p>Image credit to <a href="https://www.trouva.com/">Trouva</a> and <a href="http://www.unsplash.com">Unsplash</a>.</p>
        <div class="footer-meta">
          <div class="footer-meta-inner">
    
          </div>
        
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="{{ asset_path }}javascripts/govuk-template.js?0.22.3"></script>

  
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  </body>
</html>


