

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="{{ html_lang|default('en') }}"><![endif]-->
<!--[if gt IE 8]><!--><html lang="{{ html_lang|default('en') }}"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Digital Markets, Digital Anthropology, University College London</title>

    <!--[if gt IE 8]><!--><link href="/public/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/public/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/public/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/public/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/public/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/public/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/public/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/public/javascripts/ie.js?0.22.3"></script><![endif]-->
        <!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">


  
    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body class="">
   

    <div class="banner-top"></div>
    
    <header role="banner" id="global-header" >
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="#" id="logo" class="content">
              Digital Markets
            </a>
          </div>
 
        </div>
  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">
    
   <ul id="proposition-links">
          <li><a href="/">Home</a></li>
          <li><a href="introduction.html">Introduction</a></li>
          <li><a href="seller_one.html">Seller Interviews</a></li>
            <li><a href="ethnography.html">Digital Ethnography</a></li>
            <li><a href="customer_one.html">Customer Interview</a></li>
            <li><a href="conclusion.html">Conclusion</a></li>
        </ul>
        
      </nav>
    </div>
  </div>
      </div>
      
    </header>
    

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    

<div class="image-box">
<img src="/public/images/conclusion.png" alt="">
</div>

<div class="text-box">

<h2 class="heading-medium caps">Conclusion
        </h2>

<p>The research aimed to understand the appeal of online markets that maintain traditional offline structures, focusing on the use of Trouva by customers and sellers.</p>

<p>Semi-structured interviews helped me to understand the processes that surround selling and buying in physical and digital spaces, and how these processes differ based on the location or platform used. The research also looked into the interaction between sellers and customers facilitated by Trouva through social media and Trouva’s own website.</p>


<p>My research with sellers revealed a stark difference between the relationship sellers had with customers in their physical shop and their online Trouva shop.</p> 

<p>Sellers spoke warmly of the customers that visit their physical shop, knowing and recognising them well enough to identify them as repeat customers who live in vicinity to the shop.</p>

<p>The relationship between sellers and online customers was very much a different experience. One seller spoke of how he actively encouraged customers to interact with Trouva as opposed to him, and both sellers told me of the importance of Trouva as a ‘middle man’ in the process. Neither seller was able to recall repeat custom from online customer, or any overlap in custom from those who might shop through their Trouva shop and also in their physical shop.</p>

<p>The communication offered from Trouva’s customer support team to customers was identified by both sellers as one of the key benefits of using Trouva to sell products. For sellers, the appeal of Trouva was the ability to sell products in an online space whilst still supporting the existence of their physical space. </p>

<p>Trouva claims on their Values page on their website that:</p>
<p><i>“We are building connections between retailers and customers beyond the transaction. We are growing a community which connects independent boutiques with customers who love them. Being part of our community is a two-way relationship; the more you contribute the more you get back. Our vision is to be much more than a sales platform, we want to be the destination for like-minded boutiques and customers.”</i></p>

<p>This research could have been improved by further interviews conducted with sellers and customers. Such a small number of participants does not allow the research to claim any representative validity. I would state that this research has raised interesting points surrounding the relationship facilitated by Trouva and highlighted the high level motivations behind the use of physical and online stores by sellers and customers. </p> 



</div>


    </div>
  </div>
</main>

<footer class="group js-footer" id="footer" role="contentinfo">
  <div class="banner-top"></div>
      <div class="footer-wrapper">
  <p>Designed and built by <a href="mailto:a.everett@ucl.ac.uk">Amy Everett</a> for London Markets project, University College London 2017-18.</p>
  <p>Image credit to <a href="https://www.trouva.com/">Trouva</a> and <a href="http://www.unsplash.com">Unsplash</a>.</p>
        <div class="footer-meta">
          <div class="footer-meta-inner">
    
          </div>
        
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="{{ asset_path }}javascripts/govuk-template.js?0.22.3"></script>

  
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  </body>
</html>


