

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="{{ html_lang|default('en') }}"><![endif]-->
<!--[if gt IE 8]><!--><html lang="{{ html_lang|default('en') }}"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Digital Markets, Digital Anthropology, University College London</title>

    <!--[if gt IE 8]><!--><link href="/public/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/public/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/public/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/public/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/public/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/public/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/public/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/public/javascripts/ie.js?0.22.3"></script><![endif]-->
        <!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">


  
    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body class="">
   

    <div class="banner-top"></div>
    
    <header role="banner" id="global-header" >
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="#" id="logo" class="content">
              Digital Markets
            </a>
          </div>
 
        </div>
  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">
    
        
        <ul id="proposition-links">
          <li><a href="/">Home</a></li>
          <li><a href="introduction.html">Introduction</a></li>
          <li><a href="seller_one.html">Seller One</a></li>
            <li><a href="seller_two.html">Seller Two</a></li>
            <li><a href="customer_one.html">Customer</a></li>
            <li><a href="conclusion.html">Conclusion</a></li>
        </ul>
        
      </nav>
    </div>
  </div>
      </div>
      
    </header>
    
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    

<div class="image-box">
<img src="/public/images/customer.png" alt="">
<img src="/public/images/notes.png" alt="">
</div>

<div class="text-box">

<h2 class="heading-medium caps">Customer interview
        </h2>

<p>I met the participant in a coffee shop near her house in East Finchley. She began by telling me about the area, describing that it had lots of bars, restaurants and shops, as did some neighbouring areas. She spoke of this positively, saying she enjoyed how it felt like a village, although did not cite any experiencing of having visited these shops or bars.</p>

<p>We moved on to talking about the importance of particular items. She told me of her experience when grocery shopping, how she planned her meals for the week and made calculated, informed decisions about how best to source those items, with convenience at the top of her agenda. This process of planning with conveniece in mind was a theme throughout the entirity of the interview, no matter what items she anticipated she would buy.</p>

 <p><i>“Cost and speed are important, sometimes I need to get something delivered quick. Convenience is very important.” </i></p>

 <p>We spoke about the last item she had purchased from a store. She explained she had unexpectedly been in John Lewis after other plans that day had fallen through, she had been able to refer to a list on her phone of household items she needed and had made several purchases from this list. She said this was very different from her usual process for buying items for her home. This led us onto Trouva, of which she had been a customer for 18 months.</p>

 <p>The participant spoke highly of Trouva, telling me it was her ‘go to’ place for gifts, and despite having looked at similar websites such as notonthehighstreet.com, she always came back to Trouva because of the quality of the products. Despite being what a self-titled 'heavy' Trouva user, she couldn't name any sellers when asked.

 <p><i>“I feel like I can support those shops collectively by using Trouva. It’s important to me that there are real people and real shops, but I don’t think about the individual sellers. I’ve never engaged directly with a Trouva seller.”</i></p>

 <p>Further to this point about Trouva sellers, we spoke about if she had come across any physical shops she recognised from seeing on Trouva but she could not recall any apart from one she had specifically been invited to for an event. </p>

 <p><i>“I only know the name of one Trouva seller, because it was very near to where I used to live in Camden and I got invited to a party there. I don’t know if I’ve ever bought anything from them. It doesn’t specifically matter to me who is selling.”</i></p>

<p>We finished the interview by going back to why she would choose to shop in a physical space as opposed to online, if at all. She described to me a time she had needed to buy lots of presents for a friend but wanted to physically gather them together to see the items together to make sure she had bought a sufficient amount. This was very much the exception to the rule and she had many more stories about times she had been 'shopping' in a physical space but had had no intention of making any purchases at that time. It was as though, to her, the physical act of browsing stores was not connected to the need to make a purchase.</p>

 <p><i>“The physical shopping experience isn't about getting stuff done, it’s about being in the space.”</i></p>



</div>


    </div>
  </div>
</main>

<footer class="group js-footer" id="footer" role="contentinfo">
  <div class="banner-top"></div>
      <div class="footer-wrapper">
  <p>Designed and built by <a href="mailto:a.everett@ucl.ac.uk">Amy Everett</a> for London Markets project, University College London 2017-18.</p>
  <p>Image credit to <a href="https://www.trouva.com/">Trouva</a> and <a href="http://www.unsplash.com">Unsplash</a>.</p>
        <div class="footer-meta">
          <div class="footer-meta-inner">
    
          </div>
        
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="{{ asset_path }}javascripts/govuk-template.js?0.22.3"></script>

  
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  </body>
</html>


