{% extends "layout.html" %}

{% block page_title %}
  Amy Everett, Digital Anthropology
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    

<div class="image-box">
<img src="/public/images/customer.png" alt="">
</div>

<div class="text-box">

<h2 class="heading-medium caps">Customer interview
        </h2>

      <p><i>“Cost is important. Convenience is important. Speed is important too, sometimes need to get something delivered quick.” </i></p>

 

 <p><i>“I only know the name of one Trouva seller, because it was very near to where I used to live in Camden and I got invited to a party there. I don’t know if I’ve ever bought anything from them. It doesn’t specifically matter to me who is selling.”</i></p>

 

 <p><i>“I feel like I can support those shops collectively by using Trouva. It’s important to me that there are real people and real shops, but I don’t think about the individual sellers. I’ve never engaged directly with a Trouva seller.”</i></p>

 <p><i>“Physical shopping experience not about getting stuff done, it’s about being in the space.”</i></p>



</div>


    </div>
  </div>
</main>

{% endblock %}


