

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="{{ html_lang|default('en') }}"><![endif]-->
<!--[if gt IE 8]><!--><html lang="{{ html_lang|default('en') }}"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Digital Markets, Digital Anthropology, University College London</title>

    <!--[if gt IE 8]><!--><link href="/public/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/public/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/public/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/public/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/public/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/public/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/public/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/public/javascripts/ie.js?0.22.3"></script><![endif]-->
        <!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">


  
    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body class="">
   

    <div class="banner-top"></div>
    
    <header role="banner" id="global-header" >
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="#" id="logo" class="content">
              Digital Markets
            </a>
          </div>
 
        </div>
  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">
    
  <ul id="proposition-links">
          <li><a href="/">Home</a></li>
          <li><a href="introduction.html">Introduction</a></li>
          <li><a href="seller_one.html">Seller Interviews</a></li>
            <li><a href="ethnography.html">Digital Ethnography</a></li>
            <li><a href="customer_one.html">Customer Interview</a></li>
            <li><a href="conclusion.html">Conclusion</a></li>
        </ul>
        
      </nav>
    </div>
  </div>
      </div>
      
    </header>
    






  








<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    

<div class="image-box">
<img src="/public/images/ethno.png" alt="">
<img src="/public/images/competition.png" alt="">
<img src="/public/images/seller.png" alt="">
</div>

<div class="text-box">

<h2 class="heading-medium caps">Digital Ethnography
        </h2>

      <strong>Twitter</strong>

  <p>Trouva’s posts consist of advertising sales and featured items as well as some ‘lifestyle’ tweets that link to blogs and events, or news related to Trouva themselves. Around 30% of the tweets directly @ one of the boutiques that sell on Trouva. Trouva’s Twitter account features a lot of images, with nearly all their posts featuring an image of an event or a particular item that they sell.  </p>

  <p>Trouva’s Twitter account is clearly aimed at customers, with the focus on advertisement of their brand and of products. No posts are directed towards engaging with sellers. </p>

  <p>Engagement with Trouva’s posts is very low, with only a few posts in the last month receiving any likes or comments. Despite Trouva selling the products of over 400 stores, and cited as one of <a href="https://2xecommerce.com/podcast/ep102/">Europe’s top 5 fastest growing tech businesses</a>, they have less than 7000 followers on Twitter, suggesting perhaps this platform is not their focus.</p>

  <p>When looking at Trouva’s communication with other Twitter members there is no communication between Trouva and sellers, or sellers and customers. Trouva’s Twitter account seems to act mostly as a support channel for disgruntled customers.  </p>

      <strong>Instagram</strong>

<p>Trouva’s Instagram seems to be much more popular than their Twitter - with over 35,000 followers - and averaging 200-300 likes per post. </p>

<p>Their photos are almost all of products they sell on their site, but some of are storefronts. Both these image types are equally liked and commented on.
The posts that generate the most engagement are those where Trouva runs a competition where the user must ‘follow’ the store that sells the product and mention a friend in the comments section of the photo - these types of posts attract comments in their hundreds or thousands as opposed to the average 5-30.</p>

<p>Conversation between Trouva and customers or sellers and customers is rare, echoing the lack of engagement seen on Twitter.</p>


<strong>Facebook</strong>
<p>Despite Trouva being ‘liked’ 40,000 times on Facebook, more than 4 times as much as on Twitter, the engagement levels are almost identical. Further to this, the posts on this platform are also almost identical with those posted on Twitter. </p>

<p>There is very little conversation between Trouva and customers, and apart from the odd mention of the boutiques that sell the items being advertised there is almost no sign of a seller presence at all. </p>

<strong>Trouva.com</strong>
<p>Trouva’s homepage categorises products by space, trend and product, focusing on the products and their design as opposed who sells them or where the products are located. </p>

<p>Narrowing down into a category allows the user to be more specific in their browsing or search. The main body of the page features items, again with no mention of the boutique/seller, but a sidebar does allow the user to narrow down to brand they’re looking for (this is not necessarily the seller’s name), as well as other filters such as price and size.</p>

<p>When looking at a specific product page, information is finally clearly provided as to the seller, featuring a link to the seller’s page next to the product name and an image of their boutique at the bottom of the product details. Other than a name, image and location no other information is provided regarding who the seller is or other products they stock.</p>

<p>The search bar at the top of the website suggests that users can search for boutiques as well as products, but this is difficult to use when searching for a boutique that features a word usually used to describe an item - such as flowers. Just in this interaction alone it is easy to see the importance Trouva places on items as opposed to sellers, as no boutique names are returned on this search term.   </p>
</div>


    </div>
  </div>
</main>

<footer class="group js-footer" id="footer" role="contentinfo">
  <div class="banner-top"></div>
      <div class="footer-wrapper">
  <p>Designed and built by <a href="mailto:a.everett@ucl.ac.uk">Amy Everett</a> for London Markets project, University College London 2017-18.</p>
  <p>Image credit to <a href="https://www.trouva.com/">Trouva</a> and <a href="http://www.unsplash.com">Unsplash</a>.</p>
        <div class="footer-meta">
          <div class="footer-meta-inner">
    
          </div>
        
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="{{ asset_path }}javascripts/govuk-template.js?0.22.3"></script>

  
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  </body>
</html>



