{% extends "layout.html" %}

{% block page_title %}
 Amy Everett, Digital Anthropology
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      
      <h2 class="heading-medium">
        Read by Section
        </h2>

      
        <div class="three">
         <div class="item">
          <a href="www.gov.uk">
            <img src="/public/images/introduction.png" alt="">
            <span class="item-title">Introduction</span>
          </a>
          
        </div>
         <div class="item">
          <a href="www.gov.uk">
            <img src="/public/images/blackbird.png" alt="">
            <span class="item-title">Seller interview one</span>
          </a>
          
        </div>
         <div class="item">
          <a href="www.gov.uk">
            <img src="/public/images/flower.png" alt="">
            <span class="item-title">Seller interview two</span>
          </a>
          
        </div>

        </div>

        <div class="two">
         <div class="item">
          <a href="www.gov.uk">
            <img src="/public/images/customer.png" alt="">
            <span class="item-title">Customer interview</span>
          </a>
          
        </div>
         <div class="item">
          <a href="www.gov.uk">
            <img src="/public/images/conclusion.png" alt="">
                <span class="item-title">Conclusion</span>
          </a>
      
        </div>
        </div>
        
    </div>
  </div>
</main>

{% endblock %}


