{% extends "layout.html" %}

{% block page_title %}
 Amy Everett, Digital Anthropology
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <p class="intro">This research aims to illustrate how digital anthropology can help us understand people’s experiences of living in London, using the topic of London markets to understand experiences and relationships that contribute to life in London. I have concentrated specifically at how people seek tor retain their offline values through their online behaviour, utilising the community-driven e-commerce website Trouva as my main focus. This project aims to answer the question: What is the appeal of online markets that maintain traditional offline structures?</p>

      <h2 class="heading-medium center">
        Read by Section
        </h2>

      
        <div class="three">
         <div class="item">
          <a href="/introduction.html">
            <img src="/public/images/introduction_home.png" alt="">
            <span class="item-title">Introduction</span>
          </a>
          
        </div>
         <div class="item">
          <a href="/seller_one.html">
            <img src="/public/images/blackbird_home.png" alt="">
            <span class="item-title">Seller interview one</span>
          </a>
          
        </div>
         <div class="item">
          <a href="/seller_two.html">
            <img src="/public/images/flower_home.png" alt="">
            <span class="item-title">Seller interview two</span>
          </a>
          
        </div>

        </div>

        <div class="two">
         <div class="item">
          <a href="/customer.html">
            <img src="/public/images/customer_home.png" alt="">
            <span class="item-title">Customer interview</span>
          </a>
          
        </div>
         <div class="item">
          <a href="/conclusion.html">
            <img src="/public/images/conclusion_home.png" alt="">
                <span class="item-title">Conclusion</span>
          </a>
      
        </div>
        </div>
        
    </div>
  </div>
</main>

{% endblock %}


