{% extends "layout.html" %}

{% block page_title %}
 Amy Everett, Digital Anthropology
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Introduction
      </h1>
      <h2 class="heading-medium">
        What is the appeal of online markets that maintain traditional offline structures?
        </h2>

      <p>This research aims to illustrate how digital anthropology can help us understand people’s experiences of living in London, using the topic of London markets to understand experiences and relationships that contribute to life in London. I have concentrated specifically at how people seek tor retain their offline values through their online behaviour, utilising the community-driven e-commerce website Trouva as my main focus.</p>

    <p>Trouva, a website than enables people to purchase items from boutique, independent high street stores, prides itself on its community-led approach, writing that they “are building connections between retailers and customers beyond the transaction. We are growing a community which connects independent boutiques with customers who love them. Being part of our community is a two-way relationship; the more you contribute the more you get back. Our vision is to be much more than a sales platform, we want to be the destination for like-minded boutiques and customers.”</p>

    <p>Primarily I have used the statement that Trouva ‘are building connections between retailers and customers beyond the transaction’ as my hypothesis for this research. I have sought to understand the relationship between sellers and customers and how this is mediated through Trouva and the technology used by both parties. My research also hoped to uncover the motivations and service design assumptions that lie behind both customer and seller behaviour, looking broadly at the purchasing and selling decisions that are made by London residents. This research is composed of two activities:</p>

        <h2 class="heading-medium">Semi-structured interviews with customers and sellers</h2>

<p>I have spoken to one customer and two sellers, using a semi-structured interview method to provide enough direction to gain the insights needed to answer the research questions posed but open enough to probe for further information, allowing the participant to lead where possible and provide stories that may not have occurred in a tighter interview structure. For sellers, interviews consisted of questions regarding the business the seller operated, their buying process through Trouva, their relationship with their customers off-line and online, and their relationship with Trouva as a company. For interviews with customers, I aimed to uncover the decision-making process that led to purchases being made either online or offline and the differences in item or context where this behaviour differed.</p>

    <h2 class="heading-medium">An ethnography of social media sites</h2>

<p>By examining the social media presence and engagement between sellers, customers and Trouva on Facebook, Instagram and Twitter, I looked to further understand the digital relationships that did, and did not, form between the three parties. I sought to uncover if there was a digital actuality in the ‘two-way relationship’ Trouva claims to foster between its sellers and customers.</p>

<p>This research will provide evidence as to how digital anthropology can help to build a rich picture of experiences within and using markets across London, by utilising a range of research methods to collect data and drawing upon academic literature to further support the findings. I will demonstrate that the conclusions drawn from this research could only be done so by framing the research question through a digitally anthropological lens, examining both the off-line and the online experiences for participants and how this relationship is mediated through the digital.</p>

        
        <div class="context-box">
        <div class="controls">
        <h3 class="control_lead">Filters</h3>
        
            <h3>Price</h3>
            <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        <label for="radio-inline-1">Under £20.00</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
        <label for="radio-inline-2">£20.00 - £50.00</label>
      </div>
              <div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
        <label for="radio-inline-2">£50.00 - £100.00</label>
      </div>
            
            <h3>Brand</h3>
      
    <div class="multiple-choice">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
      <label for="waste-type-1">Bookspeed</label>
    </div>
    <div class="multiple-choice">
      <input id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines">
      <label for="waste-type-2">Dassie Artisan</label>
    </div>
    <div class="multiple-choice">
      <input id="waste-type-3" name="waste-types" type="checkbox" value="waste-farm-agricultural">
      <label for="waste-type-3">Edmmond</label>
    </div>
            
        </div>
        <div class="items-box">

        <div class="item">
          <a href="www.gov.uk">
            <img src="assets/images/blackbird.png" alt="">
          </a>
        </div>

        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        </div>
        
        
        </div>
        
    </div>
  </div>
</main>

{% endblock %}


