

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="{{ html_lang|default('en') }}"><![endif]-->
<!--[if gt IE 8]><!--><html lang="{{ html_lang|default('en') }}"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Digital Markets, Digital Anthropology, University College London</title>

    <!--[if gt IE 8]><!--><link href="/public/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/public/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/public/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/public/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/public/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/public/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/public/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/public/javascripts/ie.js?0.22.3"></script><![endif]-->
        <!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">


  
    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body class="">
   

    <div class="banner-top"></div>
    
    <header role="banner" id="global-header" >
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="#" id="logo" class="content">
              Digital Markets
            </a>
          </div>
 
        </div>
  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">
    
        
        <ul id="proposition-links">
          <li><a href="/">Home</a></li>
          <li><a href="introduction.html">Introduction</a></li>
          <li><a href="seller_one.html">Seller Interviews</a></li>
            <li><a href="ethnography.html">Digital Ethnography</a></li>
            <li><a href="customer_one.html">Customer Interview</a></li>
            <li><a href="conclusion.html">Conclusion</a></li>
        </ul>
        
      </nav>
    </div>
  </div>
      </div>
      
    </header>
    

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    

<div class="image-box">
<img src="/public/images/introduction.png" alt="">
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1VGHrrnqXxJTNVBX0jvaOzkd494xIHOCN" width="400" height="680"></iframe>
</div>

<div class="text-box">

<h2 class="heading-medium caps">Introduction
        </h2>

      <h2 class="heading-medium">
        What is the appeal of online markets that maintain traditional offline structures?
        </h2>

      <p>This research aims to illustrate how digital anthropology can help us understand people’s experiences of living in London, using the topic of London markets to understand experiences and relationships that contribute to life in London. I have concentrated specifically at how people seek tor retain their offline values through their online behaviour, utilising the community-driven e-commerce website Trouva as my main focus.</p>

    <p>Trouva, a website than enables people to purchase items from boutique, independent high street stores, prides itself on its community-led approach, writing that they <i>“are building connections between retailers and customers beyond the transaction. We are growing a community which connects independent boutiques with customers who love them. Being part of our community is a two-way relationship; the more you contribute the more you get back. Our vision is to be much more than a sales platform, we want to be the destination for like-minded boutiques and customers.”</i></p>

    <p>As well as wanting to understand the appeal of Trouva's service proposition, I have used the statement that Trouva <i>‘are building connections between retailers and customers beyond the transaction’</i> as a hypothesis I wished to prove or disprove through this research. I have sought to understand the relationship between sellers and customers and how this is mediated through Trouva and the technology used by both parties. My research also hoped to uncover the motivations and behaviour that lie behind both customer and seller behaviour, looking broadly at the purchasing and selling decisions that are made. This research is composed of two activities:</p>

        <strong>Semi-structured interviews with customers and sellers</strong>

<p>I have spoken to one customer and two sellers, using a semi-structured interview method to provide enough direction to gain the insights needed to answer the research questions posed but open enough to probe for further information, allowing the participant to lead where possible and provide stories that may not have occurred in a tighter interview structure. For sellers, interviews consisted of questions regarding the business the seller operated, their buying process through Trouva, their relationship with their customers off-line and online, and their relationship with Trouva as a company. For interviews with customers, I aimed to uncover the decision-making process that led to purchases being made either online or offline and the differences in item or context where this behaviour differed.</p>

    <strong>An ethnography of social media sites</strong>

<p>By examining the social media presence and engagement between sellers, customers and Trouva on Facebook, Instagram and Twitter, I looked to further understand the digital relationships that did, and did not, form between the three parties. I sought to uncover if there was a digital actuality in the ‘two-way relationship’ Trouva claims to foster between its sellers and customers. This research will provide evidence as to how digital anthropology can help to build a rich picture of experiences within markets across London by utilising a range of research methods, examining both the off-line and the online experiences for participants and how this relationship is mediated through the digital.</p>

<h2 class="heading-medium">Recruitment</h2>

<p>Using Trouva's website, I researched shops in the South of London, choosing this location as it was easiest for me to visit after work and yet provided a good variety of boutiques. I did further research into each shop to locate email addresses and sent out a targeted email to ten shops with a brief overview of the project and a request for their participation in a thirty minute interview either face to face or over the phone. I received two responses back and was successful in following through on these engagements to hold interviews with both shop owners.</p>

<p>For the customer research I used word-of-mouth to generate interest in my extended social circles, finding one participant who both offered me an hour of their time to talk through their experiences of making purchases offline and online, and more specifically using Trouva. My participant lived in North London and I felt this was a good balance to complement my South London based research.</p>

<p>All participants were asked to sign a consent form that allowed me to make audio recordings of the interviews and share the interview findings with UCL students and staff. Despite the consent given to record, I found none of the environments in which i conducted the interviews conducive to recording due to the busy locations in which the interviews took place, and therefore I resorted to taking verbatim notes to the best of my ability.</p>
</div>


    </div>
  </div>
</main>

<footer class="group js-footer" id="footer" role="contentinfo">
  <div class="banner-top"></div>
      <div class="footer-wrapper">
  <p>Designed and built by <a href="mailto:a.everett@ucl.ac.uk">Amy Everett</a> for London Markets project, University College London 2017-18.</p>
  <p>Image credit to <a href="https://www.trouva.com/">Trouva</a> and <a href="http://www.unsplash.com">Unsplash</a>.</p>
        <div class="footer-meta">
          <div class="footer-meta-inner">
    
          </div>
        
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="{{ asset_path }}javascripts/govuk-template.js?0.22.3"></script>

  
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  </body>
</html>


