{% extends "layout.html" %}

{% block page_title %}
  Amy Everett, Digital Anthropology
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    

<div class="image-box">
<img src="/public/images/blackbird.png" alt="">
<img src="/public/images/process.png" alt="">
</div>

<div class="text-box">

<h2 class="heading-medium caps">Seller Two interview
        </h2>

      <p>My other seller interview was with the owner of a furniture and jewellery store. Despite selling both jewellery and furniture, the owner had made a conscious decision to narrow down the scope of what was sold online, despite Trouva having the ability to handle large items.</p>

  <p><i>“We tried to sell furniture on Trouva but the price point is too high. Our usual item sale on Trouva is £60 for jewellery, our furniture goes up to £3,000. We don’t make in batches so it would be difficult to meet demand confidently. Trouva is not for big purchases.”</i></p>

  <p>This experience of what sold well online was replicated in their other digital avenues for sales, with their own e-commerce store a seller account on Amazon, all seen as ways to increase the store’s online presence. When asked about why he had chosen Trouva as one of the methods for doing this he explained that he felt the store fit Trouva’s profile, and that he was keen to support UK businesses by being part of their site. He didn’t mention any relationship with customers as part of this response.</p>

  <p>Only relying on wholesalers for a small percentage of their products, the owner explained to me how his family made almost all the products they sold. He went on to create a journey map with me to illustrate and talk through the process of how products are created specifically with a Trouva audience in mind:</p>

  <p><i>“We do research to look for gaps in the market, make jewellery to fill those gaps, test with them users, iterate them and then put them on Trouva in a batch.”</i></p>

<p>Talking through the process, and seeing each step on his side of Trouva’s website, proved to be a really useful exercise and I was pleased that his description of the steps replicated those in my first interview also. Despite the email notification featuring the customer’s details quite prominently this did not appear to be of importance to him. I asked him if he remembered seeing the same name twice and he said no, he wasn’t aware of any repeat custom. He went on to say that Trouva sales were very seasonal, that people bought jewellery mostly around Christmas. This was in contrast to the local repeat customers that visit the physical store – it was not clear if these customers were visiting for furniture (not available online) or jewellery, however.</p>

<p>When discussing the relationship between the shop owner and online customers he told me that he actually discourages contact. He explained that Trouva was there to act as a middle-man and that he expected Trouva’s customer contact team to deal with any queries rather than it being something he dealt with.</p>

<p><i>“Sometimes customers bypass Trouva and contact us directly via email – I ask them to go through Trouva.”</i></p>

<p>When I asked him why he thought people shopped online as opposed to physical stores, he told me online shopping generated an ease of access to products and allowed people to make sure they were getting the cheapest price for things. He said price was the ultimate thing that drove people’s decision as to the method in which they chose to shop.  He finished by saying:</p>

<p><i>“Young people like the idea of a high street more than they like using it.”</i></p>
</div>


    </div>
  </div>
</main>

{% endblock %}


