

<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="{{ html_lang|default('en') }}"><![endif]-->
<!--[if gt IE 8]><!--><html lang="{{ html_lang|default('en') }}"><!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Digital Markets, Digital Anthropology, University College London</title>

    <!--[if gt IE 8]><!--><link href="/public/stylesheets/govuk-template.css?0.22.3" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="/public/stylesheets/govuk-template-ie6.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/public/stylesheets/govuk-template-ie7.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/public/stylesheets/govuk-template-ie8.css?0.22.3" media="screen" rel="stylesheet" /><![endif]-->
    <link href="/public/stylesheets/govuk-template-print.css?0.22.3" media="print" rel="stylesheet" />

    <!--[if IE 8]><link href="/public/stylesheets/fonts-ie8.css?0.22.3" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!--><link href="/public/stylesheets/fonts.css?0.22.3" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="/public/javascripts/ie.js?0.22.3"></script><![endif]-->
        <!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">


  
    <meta name="theme-color" content="#0b0c0c" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body class="">
   

    <div class="banner-top"></div>
    
    <header role="banner" id="global-header" >
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="#" id="logo" class="content">
              Digital Markets
            </a>
          </div>
 
        </div>
  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">
    
      <ul id="proposition-links">
          <li><a href="/">Home</a></li>
          <li><a href="introduction.html">About the Project</a></li>
          <li><a href="seller_one.html">Seller Interviews</a></li>
            <li><a href="ethnography.html">Digital Ethnography</a></li>
            <li><a href="customer_one.html">Customer Interview</a></li>
            <li><a href="conclusion.html">Conclusion</a></li>
        </ul>
      </nav>
    </div>
  </div>
      </div>
      
    </header>
    

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

    

<div class="image-box">
<img src="/public/images/flower.png" alt="">
<img src="/public/images/sellers.png" alt="">
<img src="/public/images/blackbird.png" alt="">
<img src="/public/images/process.png" alt="">
</div>

<div class="text-box">

<h2 class="heading-medium caps">Seller One interview
        </h2>

      <p>I visited a flower boutique in South London, speaking to their owner about their experience of using digital platforms to generate sales and engage with customers.</p>

 <p>The owner spoked of how her business had been on Trouva for the last two years but she recently started to make purchasing decisions from wholesalers with the specific intention of putting those items on Trouva. It was her intention that her online shop would eventually be as eclectic as her physical shop, other than the ability to sell actual flowers, which she explained was not possible as Trouva couldn’t handle the delivery of such items.</p>

 <p>She told me that despite Trouva’s attempts to promote repeat business, she did not know of any returning customers online. However she referred to the customers that visited her physical shop as ‘loyal’ and knew of many that visited every week, despite this it was with other businesses that the shop owner seemed to speak of any connection or community made through Trouva:</p>

 <p><i>“Trouva helps to connect businesses, it’s platform with a wide audience and it’s great to be part of that with other small businesses. I’ve met other businesses through Trouva events, we bounce ideas off each other. I can see a real bond between retailers through Trouva.”</i></p>

 <p>When I asked her about why she felt people chose to shop online or through physical stores, she told me that she felt there was a currently trend to shop locally, but that convenience was the most important thing for people – Trouva helped to meet the needs of people who wanted to stay within this trend but were unable to do this on a regular basis. She finished the interview by saying she felt that:</p>

 <p><i>“People that shop through Trouva don’t shop through physical stores.”</i></p>

 <h2 class="heading-medium caps">Seller Two interview</h2>

      <p>My other seller interview was with the owner of a furniture and jewellery store. Despite selling both jewellery and furniture, the owner had made a conscious decision to narrow down the scope of what was sold online, despite Trouva having the ability to handle large items.</p>

  <p><i>“We tried to sell furniture on Trouva but the price point is too high. Our usual item sale on Trouva is £60 for jewellery, our furniture goes up to £3,000. We don’t make in batches so it would be difficult to meet demand confidently. Trouva is not for big purchases.”</i></p>

  <p>This experience of what sold well online was replicated in their other digital avenues for sales, with their own e-commerce store a seller account on Amazon, all seen as ways to increase the store’s online presence. When asked about why he had chosen Trouva as one of the methods for doing this he explained that he felt the store fit Trouva’s profile, and that he was keen to support UK businesses by being part of their site. He didn’t mention any relationship with customers as part of this response.</p>

  <p>Only relying on wholesalers for a small percentage of their products, the owner explained to me how his family made almost all the products they sold. He went on to create a journey map with me to illustrate and talk through the process of how products are created specifically with a Trouva audience in mind:</p>

  <p><i>“We do research to look for gaps in the market, make jewellery to fill those gaps, test with them users, iterate them and then put them on Trouva in a batch.”</i></p>

<p>Talking through the process, and seeing each step on his side of Trouva’s website, proved to be a really useful exercise and I was pleased that his description of the steps replicated those in my first interview also. Despite the email notification featuring the customer’s details quite prominently this did not appear to be of importance to him. I asked him if he remembered seeing the same name twice and he said no, he wasn’t aware of any repeat custom. He went on to say that Trouva sales were very seasonal, that people bought jewellery mostly around Christmas. This was in contrast to the local repeat customers that visit the physical store – it was not clear if these customers were visiting for furniture (not available online) or jewellery, however.</p>

<p>When discussing the relationship between the shop owner and online customers he told me that he actually discourages contact. He explained that Trouva was there to act as a middle-man and that he expected Trouva’s customer contact team to deal with any queries rather than it being something he dealt with.</p>

<p><i>“Sometimes customers bypass Trouva and contact us directly via email – I ask them to go through Trouva.”</i></p>

<p>When I asked him why he thought people shopped online as opposed to physical stores, he told me online shopping generated an ease of access to products and allowed people to make sure they were getting the cheapest price for things. He said price was the ultimate thing that drove people’s decision as to the method in which they chose to shop.  He finished by saying:</p>

<p><i>“Young people like the idea of a high street more than they like using it.”</i></p>
</div>


</div>


    </div>
  </div>
</main>

<footer class="group js-footer" id="footer" role="contentinfo">
  <div class="banner-top"></div>
      <div class="footer-wrapper">
  <p>Designed and built by <a href="mailto:a.everett@ucl.ac.uk">Amy Everett</a> for London Markets project, University College London 2017-18.</p>
  <p>Image credit to <a href="https://www.trouva.com/">Trouva</a> and <a href="http://www.unsplash.com">Unsplash</a>.</p>
        <div class="footer-meta">
          <div class="footer-meta-inner">
    
          </div>
        
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="{{ asset_path }}javascripts/govuk-template.js?0.22.3"></script>

  
    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  </body>
</html>


